<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmbyLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmbyLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmbyLauncher.Properties.Settings>
            <setting name="WaitForNetwork" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EmbyLocationOverride" serializeAs="String">
                <value />
            </setting>
        </EmbyLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EmbyLauncher.Properties.Settings>
            <setting name="EmbyLocation" serializeAs="String">
                <value>Emby-Theater\system\Emby.Theater.exe</value>
            </setting>
            <setting name="SleepDuration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EmbyURL" serializeAs="String">
                <value>http://emby.media</value>
            </setting>
        </EmbyLauncher.Properties.Settings>
    </applicationSettings>
</configuration>